.checkbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.checkbox-box {
  border: var(--elements-border) var(--highlight-color) solid;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  outline: var(--elements-border) var(--shadow-color) solid;
  height: 15px;
  width: 15px;
  border-radius: 14px;
}

.checkbox-label {
  align-items: center;
  display: flex;
  text-align: left;
  text-shadow: var(--text-shadow);
}
