.checkbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.checkbox-box {
  font-size: 14px;
  font-family: monospace;
  border: var(--elements-border) var(--highlight-color) solid;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  height: 15px;
  outline: var(--elements-border) var(--shadow-color) solid;
  width: 15px;
  border-radius: 14px;
}

.checkbox-label {
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--highlight-color);
  font-family: monospace;
  user-select: none;
  text-shadow: var(--text-shadow);
}
