.divider {
  display: flex;
  align-items: center;
  height: 16px;
  color: var(--highlight-color);
}

.divider::before {
  margin-left: 10px;
}

.divider::after {
  margin-right: 10px;
}

.divider::before, .divider::after {
  flex-grow: 1;
  box-sizing: border-box;
  border: 1px var(--highlight-color) solid;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  content: "";
}
