.label {
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--highlight-color);
  font-family: monospace;
  user-select: none;
  text-shadow: var(--text-shadow);
}
