.panel {
  display: flex;
  flex-direction: row;
  width: 250px;
  align-self: baseline;
  border: var(--elements-border) var(--highlight-color) solid;
  outline: var(--elements-border) var(--shadow-color) solid;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  border-radius: var(--elements-radius);
  
  background-color: var(--bg-color);
  background-image:
    linear-gradient(var(--line-color-3) 1px, transparent 1px),
    linear-gradient(90deg, var(--line-color-3) 1px, transparent 1px);
  background-position: -1px -1px, -1px -1px;
  background-size: 10px 10px, 10px 10px;
}

.panel-bar {
  background: #a6b4b6;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  border-right: var(--highlight-color) solid 1px;
  cursor: pointer;
  width: 6px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.panel-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  transition: all 1s;
  width: 100%;
}
