.panel {
  display: flex;
  flex-direction: row;
  width: 250px;
  align-self: baseline;
  border: var(--elements-border) var(--highlight-color) solid;
  outline: var(--elements-border) var(--shadow-color) solid;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  border-radius: var(--elements-radius);
  
  background-color: var(--bg-color);
  background-image:
    linear-gradient(var(--line-color-3) 1px, transparent 1px),
    linear-gradient(90deg, var(--line-color-3) 1px, transparent 1px);
  background-position: -1px -1px, -1px -1px;
  background-size: 10px 10px, 10px 10px;
}

.panel-side-bar {
  background: #a6b4b6;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  border-right: var(--highlight-color) solid 1px;
  cursor: pointer;
  width: 6px;
}

.panel-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.panel-top-bar {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.panel-top-label {
  align-items: center;
  display: flex;
  font-size: 14px;
  gap: 5px;
  text-align: left;
  text-shadow: var(--text-shadow);
  width: 100%;
}

.panel-top-cross {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path d="M6 6L18 18M18 6L6 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.panel-top-label::before {
  margin-left: 5px;
}

.panel-top-label::before, .panel-top-label::after {
  flex-grow: 1;
  box-sizing: border-box;
  border: 1px var(--highlight-color) solid;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  content: "";
}

.panel-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  width: 100%;
}
