.precise-slider-vertical {
  width: 8px;
  border: var(--elements-border) var(--highlight-color) solid;
  outline: var(--elements-border) var(--shadow-color) solid;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  border-radius: 15px;
  background-image: 
    linear-gradient(var(--accent-color-red) 1.5px, transparent 1.5px),
    linear-gradient(var(--accent-color-blue) 1px, transparent 1px);
  background-position: 0 -0.75px, 0 -0.5px;
  background-size: 100% 25%, 100% 12.5%;
  overflow: hidden;
}

.precise-slider-vertical-handle {
  width: 100%;
  background-color: var(--highlight-color);
  background-image: 
    linear-gradient(var(--accent-color-green) 2px, transparent 2px);
  background-position: 0 -1px;
  background-size: 100% 50%;
  position: relative;
  z-index: -1;
}


.precise-slider-horizontal {
  height: 8px;
  border: var(--elements-border) var(--highlight-color) solid;
  outline: var(--elements-border) var(--shadow-color) solid;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  border-radius: 15px;
  background-image: 
    linear-gradient(90deg, var(--accent-color-red) 1.5px, transparent 1.5px),
    linear-gradient(90deg, var(--accent-color-blue) 1px, transparent 1px);
  background-position: -0.75px 0, -0.5px 0;
  background-size: 25% 100%, 12.5% 100%;
  overflow: hidden;
}

.precise-slider-horizontal-handle {
  height: 8px;
  background-color: var(--highlight-color);
  background-image: 
    linear-gradient(90deg, var(--accent-color-green) 2px, transparent 2px);
  background-position: -1px 0;
  background-size: 50% 100%;
  position: relative;
  z-index: -1;
}
