.slider-track {
  height: 15px;
  border: var(--elements-border) var(--highlight-color) solid;
  outline: var(--elements-border) var(--shadow-color) solid;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  border-radius: var(--elements-radius);
}

.slider-handle {
  height: 15px;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  background-image: var(--component-background);
  background-size: 1px 15px;
}

.slider-label {
  margin-top: -14px;
  font-size: 12px;
  text-align: center;
  pointer-events: none;
  user-select: none;
  color: var(--highlight-color);
  font-family: monospace;
  text-shadow: var(--text-shadow);
}
