.settings-portal-preview {
  display: flex;
  border: var(--elements-border) var(--highlight-color) solid;
  outline: var(--elements-border) var(--shadow-color) solid;
  box-shadow: inset 0px 0px 0px 2px var(--shadow-color);
  border-radius: 15px;
  height: 15px;
  width: 15px;
  
  font-size: 10px;
  align-items: center;
  justify-content: center;
  
  color: var(--highlight-color);
  font-family: monospace;
  user-select: none;
  text-shadow: var(--text-shadow);
}
