.light-controller-canvas {
  border: var(--elements-border) var(--highlight-color) solid;
  outline: var(--elements-border) var(--shadow-color) solid;
  box-shadow: inset 0px 0px 0px 1px var(--shadow-color);
  width: 100%;
  border-radius: 10%;
  margin-right: 5px;
  background: radial-gradient(#3e414d, #0000);
}
